
<%= form_for(@product)  do |f| %>
    <% @product.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    Name: <%= f.text_field :name %> <br />
    Quantity: <%= f.number_field :quantity %> <br />
    Price: <%= f.number_field :price, step: :any %> <br />
    <%= f.submit%>

  
<% end %>